.celebrity-header {
    background-position: center;
    background-size: cover;
    display: flex;
    height: 280px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    &__wrapper {
        align-self: center;
        background-color: rgb(123, 119, 116, 0.5);
        color: white;
        margin-left: 5%;
        padding-left: 10px;
        width: 38%;
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      &__wrapper {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
      }
    }

    &__title {
        font-size: 22px;
        font-weight: 600;
    }

    &__time-category {
        font-size: 10px;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 12px;
    }

    &__vote-notification {
        font-size: 14px;
    }

    &__vote-wrapper {
        align-items: center;
        display: flex;
        margin-top: 10px;

        .separation {
            margin-right: 5px;
        }
    }
}

