<div class="celebrity-tile">
    <div class="celebrity-tile__wrapper">
        <div class="celebrity-tile__title">
            Ivan Cepeda
        </div>
        <div class="celebrity-tile__time-category">
            <strong>1 month ago</strong> in Politics
        </div>
        <div class="celebrity-tile__description">
            Relative to the browser window, such as lative to the browser
        </div>
        <div class="celebrity-tile__vote-wrapper">
            <thumb-button class="separation"></thumb-button>
            <thumb-button [isUp]="false" class="separation"></thumb-button>
            <vote-button [isVoteAgain]="true"></vote-button>
        </div>
    </div>
</div>
