.celebrity-tile {
    margin: 0 auto;
    width: 100%;
    height: 280px;
    background-position: center;
    background-size: cover;
    display: flex;

    &__wrapper {
        color: white;
        align-self: flex-end;
        margin: 0 0 20px 10px;
    }

    &__title {
        font-size: 22px;
        font-weight: 600;
    }

    &__time-category {
        font-size: 10px;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 12px;
    }

    &__vote-notification {
        font-size: 14px;
    }

    &__vote-wrapper {
        align-items: center;
        display: flex;
        margin-top: 10px;

        .separation {
            margin-right: 5px;
        }
    }

    @media only screen and (mind-width: 720px) {
        margin: unset;
    }
}

