.thumb-button {
    border: unset;
    color: white;
    cursor: pointer;
    padding: 4px;

    &.thumbs-up {
        background-color: #1cbbb4;
    }

    &.thumbs-down {
        background-color: #ffad1d;
    }
}